body{
    background-color: black;
}

#logo{
    width: 50px;
    margin-right: 10px;
}

#versus{
    font-size: 30px;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}

.div1{
    width: fit-content;
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    background-color: rgb(6, 47, 47); 
    border-color: aquamarine; 
    box-shadow: -5px 5px 10px aqua;
}

.div{
    font-size: 35px;
    color: white;
    background-color: rgb(99, 99, 99);
    width: fit-content;
    border-color: ghostwhite;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    box-shadow: -5px 5px 10px azure;
}

.image{
    width: 200px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    margin-top: -165px; 
    border-color: aquamarine; 
    box-shadow: -3px 3px 0px aquamarine;
}

.span2{
    padding: 5px;
    margin: 20px;
}

.h5{
    padding: 13px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    background-color: aquamarine; color: rgb(22, 104, 77);  
}

b{
    color: rgb(5, 73, 51) !important;
}

#div2{
    width: fit-content;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    padding: 25px;
    margin: 30px;
    background-color: rgb(99, 99, 99); 
    border-color: ghostwhite; 
    box-shadow: -5px 5px 10px azure;
    color: white;
    font-size: 23px;
    text-align: left;
}

.footer{
    position: fixed;
    background-color: rgb(99, 99, 99);
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-family: 'Courgette', cursive;
}